## Exercise 4.7

In [18]:
# Importing pandas, numpy and os libraries
import pandas as pd
import numpy as np
import os

In [19]:
## Turning project folder path into a string
path = r'/Users/gwynreniers/Documents/Instacart Analysis'
path

'/Users/gwynreniers/Documents/Instacart Analysis'

In [73]:
# Import dataframes


df_ords_prods_comb = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merged.pkl'))

In [74]:
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [111]:
# droppping column eval_set since I didnt save it right
df.drop(columns = ['eval_set'])

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,14,0,15,6.0,30489,2,0,Original Hummus,67,20,7.5,both,Mid-range product,Mid-range product
999996,1843600,164632,5,1,19,9.0,30489,2,0,Original Hummus,67,20,7.5,both,Mid-range product,Mid-range product
999997,733106,164632,9,2,22,10.0,30489,3,1,Original Hummus,67,20,7.5,both,Mid-range product,Mid-range product
999998,1650124,164632,17,6,17,13.0,30489,1,1,Original Hummus,67,20,7.5,both,Mid-range product,Mid-range product
999999,3378258,164632,22,6,10,15.0,30489,3,1,Original Hummus,67,20,7.5,both,Mid-range product,Mid-range product

In [75]:
df = df_ords_prods_comb[:1000000]
df

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2836489,164627,prior,14,0,15,6.0,30489,2,0,Original Hummus,67,20,7.5,both
999996,1843600,164632,prior,5,1,19,9.0,30489,2,0,Original Hummus,67,20,7.5,both
999997,733106,164632,prior,9,2,22,10.0,30489,3,1,Original Hummus,67,20,7.5,both
999998,1650124,164632,prior,17,6,17,13.0,30489,1,1,Original Hummus,67,20,7.5,both
999999,3378258,164632,prior,22,6,10,15.0,30489,3,1,Original Hummus,67,20,7.5,both

In [82]:
#define a function

def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
         return 'High range'
    else: return 'Not enough data'

In [81]:
#apply the function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/sr/4vbhyt1x1nxfjqq_tpssnnzc0000gn/T/ipykernel_13854/748875041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [83]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [85]:
df['prices'].max()

14.8

In [89]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/sr/4vbhyt1x1nxfjqq_tpssnnzc0000gn/T/ipykernel_13854/2857404532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [90]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [91]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'low-range prodcut'

In [92]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
low-range prodcut    243550
Name: price_range_loc, dtype: int64

In [101]:
df_ords_prods_comb.loc[df_ords_prods_comb['prices'] > 15, 'price_range_loc'] = 'High-range product'

df_ords_prods_comb.loc[ords_prods_comb['prices'] > 15. 'price_range_loc'] = 'High-range product'

In [102]:
df_ords_prods_comb.loc[(df_ords_prods_comb['prices'] <= 15) & (df_ords_prods_comb['prices'] > 5),'price_range_loc'] = 'Mid-range product'

In [103]:
df_ords_prods_comb.loc[df_ords_prods_comb['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [104]:
df_ords_prods_comb['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [106]:
df_ords_prods_comb['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [107]:
result = []
for value in df_ords_prods_comb["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest Day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly Busy")

In [108]:
result

['Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Busiest Day',
 'Busiest Day',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Least busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Least busy',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 'Busiest Day',
 'Busiest Day',
 'Regularly Busy',
 'Regularly Busy',
 'Regularly Busy',
 ...]

In [109]:
df_ords_prods_comb['busiest_day'] = result

In [110]:
df_ords_prods_comb['busiest_day'].value_counts(dropna = False)

Regularly Busy    22416875
Busiest Day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## 4.7 Task

In [114]:
#Change busiest day to plural: busiest days

result_2 = []

In [115]:
for value in df_ords_prods_comb['orders_day_of_week']:
    if value in [0,1]:
        result_2.append("Busiest Day")
    elif value in [3,4]:
        result_2.append("Least busy")
    else:
        result_2.append("Regularly busy")

In [116]:
# Creating new column for "Busiest Days" from results of above for-loop
df_ords_prods_comb['busiest_days'] = result_2
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

In [117]:
#Counts of the new column for sorted days
df_ords_prods_comb['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest Day       11864412
Least busy         7624336
Name: busiest_days, dtype: int64

In [118]:
#Checking the results against the output per day by summing single days
df_ords_prods_comb['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [119]:
# Taking the sum of 0 (Saturday) and 1 (Sunday), 6204182 + 5660230 = 11864412 the sum is equal to the busiest day.
# Taking the sum of 3 (Tuesday) and 4 (Wednesday) 3840543 +3783802 = 7624336 the sum is equal to the least busy day.

In [120]:
# 4. Busiest hours: displaying orders per hour from most busy hour to least
df_ords_prods_comb['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [121]:
# Create a loop for sorting the busiest hours
result_3 = []

for value in df_ords_prods_comb['order_hour_of_day']:
    if value >= 9and value <= 16:
        result_3.append("Most orders")
    elif value <= 6:
        result_3.append("Least orders")
    else:  
        result_3.append("Average orders")

In [123]:
#Creating a new column 'busiest_period_of_day' from results of for-loop
df_ords_prods_comb['Busiest_period_of_day'] = result_3
df_ords_prods_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,Busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Least busy,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

In [125]:
#Count columns to determine periods: busiest/least busy/average
df_ords_prods_comb['Busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Least orders        886821
Name: Busiest_period_of_day, dtype: int64

In [126]:
## 7. Export
# Exporting data frame as pickle file to prepared data folder
df_ords_prods_comb.to_pickle(os.path.join(path,'02 Data', 'Prepared data','ords_prods_comb_updated.pkl'))